/* **===================================Main===============================** */
.auth-main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card-box-shadow {
  box-shadow: 1px 1px 16px 1px rgba(58, 58, 58, 0.3) inset;
}
.main-link {
  text-decoration: none;
  color: var(--action-color);
  font-size: 0.9rem;
  transition: var(--main-transitions);
}
.main-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.success-color {
  color: var(--success-color);
}
.error-color {
  color: var(--error-color);
}

/* **===================================Main===============================** */

.auth {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0;
}
main.auth-main section.auth div.auth-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 420px;
  z-index: 2;
  background-color: var(--main-bg-color);
  border-radius: calc(var(--main-border-radius) * 3) 0 0
    calc(var(--main-border-radius) * 3);
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);
}
main.auth-main section.auth .card-img {
  width: 520px;
  margin-left: -160px;
}
main.auth-main section.auth .card-img img {
  width: 100%;
  height: auto; /* NEVER 100% */
  display: block; /* removes inline image whitespace */
  object-fit: cover;
  filter: drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.1));
}

main.auth-main section.auth div.auth-card .auth-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

main.auth-main section.auth div.auth-card .card-header {
  font-size: 1.8rem;
  width: fit-content;

  color: var(--primary-text-color);
  font-weight: 400;
  background-color: var(--main-white-color);
  padding: var(--main-space);
  margin-top: -1px;
  border-radius: 2px 2px 12px 12px; /* top-left , top-right,  bottom-right,  bottom-left */
  border: none;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2) inset;
}

main.auth-main section.auth div.auth-card .input-area {
  margin: calc(var(--main-space) * 2) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--main-space) * 1);
}

main.auth-main section.auth div.auth-card .input-area div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
main.auth-main section.auth div.auth-card .input-area div i {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--secondary-text-color);
}

main.auth-main section.auth div.auth-card .input-area div i.fa-eye,
main.auth-main section.auth div.auth-card .input-area div i.fa-eye-slash {
  right: 24px;
  cursor: pointer;
  pointer-events: auto;
}

main.auth-main section.auth div.auth-card .input-area .forget-password {
  margin-top: var(--main-space);
}

main.auth-main section.auth div.auth-card .submit-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--main-space);
}
main.auth-main section.auth div.auth-card .submit-area button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

main.auth-main section.auth div.auth-card .input-area span {
  display: none;
  color: red;
}

/* **===================================Main===============================** */

/* ^^===================================Media_Query===============================^^ */

@media (min-width: 992px) {
  .auth {
    flex-direction: row;
  }

  .card-img {
    display: block;
  }
}

@media (max-width: 850px) {
  .auth {
    flex-direction: column;
  }
  main.auth-main section.auth div.auth-card {
    border-radius: calc(var(--main-border-radius) * 3);
  }

  main.auth-main section.auth .card-img {
    display: none;
  }
  .auth-card {
    max-width: 420px;
    border-radius: var(--card-border-radius);
    padding-bottom: var(--main-space);
  }
  main.auth-main section.auth div.auth-card .card-header {
    box-shadow: none;
    font-size: 1.6rem;
  }
}

@media (max-width: 650px) {
  .auth-card {
    max-width: 320px;
  }
}
/* ^^===================================Media_Query===============================^^ */
