/* !!===================================ROOT===============================!! */
* {
  margin: 0;
  padding: 0;
}

:root {
  /* Surface Colors */
  --main-bg-color: #e5e7eb; /* Page background */
  --main-white-color: #fafafa; /* Card & Input background */
  --main-border-color: rgba(2, 12, 44, 0.6);

  /* Text Colors */
  --primary-text-color: #1f2933; /* Titles and typed text */
  --secondary-text-color: #6b7280; /* Borders, Dividers, Placeholders */

  /* Brand / Action Colors */
  --action-color: #2563eb; /* Buttons, Links, Focus states */
  --action-hover: #1d4ed8; /* Button & Link hover */
  --action-active: #1e40af; /* Button active state */

  /* Status Colors */
  --success-color: #10b981;
  --error-color: #ef4444;
  --warning-color: #fbbf24;

  --main-space: 12px;
  --max-space: 48px;
  --main-border-radius: 5px;
  --card-border-radius: 12px;

  --main-font-size: 1rem;
  --main-heading-size: 2rem;

  --main-box-shadow: 1px 1px 3px 1px #1f2933 inset;
  --main-success-box-shadow: 1px 1px 3px 1px #10b981 inset;
  --main-error-box-shadow: 1px 1px 3px 1px #ef4444 inset;

  --main-transitions: all 0.75s ease-in-out;
}

body {
  background-color: var(--main-bg-color);
}

h1 {
  font-size: 2.25rem;
}

.container {
  margin: 24px 0;
  padding: 24px 0;
}

.main-btn {
  background-color: var(--action-color);
  color: var(--main-white-color);
  padding: calc(var(--main-space) * 0.75) calc(var(--main-space) * 6);
  border-radius: calc(var(--main-space) * 2);
  border: none;

  font-size: 1.25rem;
  transition: var(--main-transitions);
}

.main-btn:hover {
  background-color: var(--action-hover);
}

.main-btn:active {
  background-color: var(--active-hover);
}

.main-input {
  border: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
  border-radius: calc(var(--main-space) * 2);
  padding: calc(var(--main-space) * 0.75) calc(var(--main-space) * 2);
  background-color: var(--main-bg-color);
  border: 1px solid var(--primary-text-color);
  box-shadow: var(--main-box-shadow);
  transition: all 0.15s ease-in-out;
}

.main-input:focus-visible {
  border: none;
  outline: 2px solid var(--error-color);
  box-shadow: var(--main-error-box-shadow);
}

.main-card-box-shadow {
  box-shadow: 1px 1px 16px 1px rgba(58, 58, 58, 0.3) inset;
}

.main-link {
  text-decoration: none;

  color: var(--primary-text-color);
  transition: var(--main-transitions);
}
.main-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* !!===================================ROOT===============================!! */

/* **===================================Main===============================** */

/* ??==================================Main-Flex-Classes===================== */
.flex {
  display: flex;
}

.center-flex {
  justify-content: center;
  align-items: center;
}

/* ??==================================Main-Flex-Classes===================== */

/* ??==================================Main-Postion-Classes===================== */

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.center-positioned-ele {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ??==================================Main-Postion-Classes===================== */

/* ??==================================Main-Background-Classes===================== */

.background-div {
  min-height: 100vh;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.form-bg {
  min-height: 100vh;
  background-image: url("../../assets/images/formBg.svg");
}

.login-main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ??==================================Main-Background-Classes===================== */

/* **===================================Main===============================** */

main.login-main section.login div.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  border: 2px solid var(--main-border-color);
  border-radius: calc(var(--main-border-radius) * 3);
  padding: 0 calc(var(--main-border-radius) * 3)
    calc(var(--main-border-radius) * 3);

  background-color: var(--main-bg-color);
}

main.login-main section.login div.login-card h1 {
  font-size: 2rem;
  color: var(--primary-text-color);
  font-weight: 400;
  background-color: var(--main-white-color);
  padding: var(--main-space);
  margin-top: -1px;
  border-radius: 2px 2px 12px 12px; /* top-left , top-right,  bottom-right,  bottom-left */
  border: none;
}

main.login-main section.login div.login-card .input-area {
  margin: calc(var(--main-space) * 2) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--main-space) * 0.5);
}

main.login-main section.login div.login-card .input-area div {
  position: relative;
}
main.login-main section.login div.login-card .input-area div i {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

main.login-main section.login div.login-card .input-area div i.fa-eye {
  right: 15%;
}

main.login-main section.login div.login-card .submit-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--main-space);
}

/* **===================================Main===============================** */
