/* !!===================================ROOT===============================!! */
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0f172a;
  --main-bg-color: #e5e7eb;
  --main-white-color: #fafafa;
  --primary-text-color: #1f2933;
  --secondary-text-color: #6b7280;
  --action-color: #2563eb;
  --success-color: #10b981;
  --error-color: #ef4444;
  --warning-color: #fbbf24;

  --main-space: 12px;
  --max-space: 48px;
  --main-border-radius: 5px;
  --card-border-radius: 12px;

  --main-font-size: 1rem;
  --main-heading-size: 2rem;

  --main-transitions: all 0.5s ease-in-out;
}

body {
  background-color: var(--main-bg-color);
}

h1 {
  font-size: 2.25rem;
}

.container {
  margin: 24px 0;
  padding: 24px 0;
}

.main-btn {
  background-color: var(--primary-color);
  width: 20%;
  padding: var(--main-space) calc(var(--main-space) * 5);
  font-size: 1.25rem;
  border: none;
  color: var(--main-white-color);
  border-radius: var(--main-border-radius);
  transition: var(--main-transitions);
}

.main-btn:hover {
  background-color: var(--warning-color);
  color: var(--primary-text-color);
}

/* !!===================================ROOT===============================!! */

/* **===================================Main===============================** */

/* ??==================================Main-Flex-Classes===================== */
.flex {
  display: flex;
}

.center-flex {
  justify-content: center;
  align-items: center;
}

/* ??==================================Main-Flex-Classes===================== */

/* ??==================================Main-Postion-Classes===================== */

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.center-positioned-ele {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ??==================================Main-Postion-Classes===================== */

/* ??==================================Main-Background-Classes===================== */

.background-div {
  min-height: 75vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-bg {
  min-height: 100vh;
  background-image: url("../assets/images/formBg.svg");
}

.home-bg {
  background-image: url("../assets/images/welcomeHero.svg");
}

/* ??==================================Main-Background-Classes===================== */

/* **===================================Main===============================** */

/* ^^=====================================Header============================= */

header {
  display: flex;
  height: 75vh;
}
header p {
  font-size: 1.75rem;
}

header.hero {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: var(--main-space);
}

/* ^^=====================================Header============================= */

/* ??=====================================Instructions-list============================= */

.instructions {
  text-align: center;
}

.instructions h3 {
  text-align: center;
  font-size: var(--main-heading-size);
}

.instructions ul.instructions-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc(3 * var(--main-space));
  list-style: none;
}

.instructions ul.instructions-list li.list-item {
  position: relative;
  width: 25%;
  padding: var(--main-space);
  color: var(--primary-text-color);
  margin: calc(12px + var(--main-space)) 0;
  background-color: var(--main-white-color);
  border-radius: var(--card-border-radius);
  box-shadow: 1px 1px 3px var(--warning-color) inset;
  transition: var(--main-transitions);
}

.instructions ul.instructions-list li.list-item:hover {
  cursor: default;
  box-shadow: 3px 3px 1px var(--success-color) inset;
}

.instructions ul.instructions-list li.list-item .list-header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--main-space);
  padding: var(--main-space);
}
.instructions ul.instructions-list li.list-item .list-header h4 {
  font-size: 1.5rem;
}
.instructions ul.instructions-list li.list-item .list-content {
  padding: var(--main-space);
}

.instructions ul.instructions-list li.list-item .list-content p {
  font-size: 1.25rem;
}

.list-number {
  border-radius: 100%;
  background-color: var(--warning-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--main-heading-size);
  color: var(--main-white-color);
  transition: var(--main-transitions);
}

.instructions ul.instructions-list li.list-item:hover .list-number {
  background-color: var(--success-color);
}

.instructions button {
  margin: calc(var(--main-space) * 3);
}

/* ??=====================================Instructions-list============================= */
